// Font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

$poppinsFont: "Poppins", sans-serif;

// Colors
$white: #fff8f0;
$orange: #f77f00;
$yellow: #fcbf49;
$blue: #003049;
